
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 564px;
  height: 128px;
  font-size: 32px;
  color: rgb(194, 193, 199);
  margin-top: -40px;
}

.link{
  font-size: 24px;
  color:#54a3f0;
  text-decoration: none;
}
